doctype html
html
  head
    title!= title

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/css/skrollr.animations.css', rel='stylesheet' data-skrollr-stylesheet)
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/font-awesome.css', rel='stylesheet')
    script(href='/js/third-parties/modernizr.js')
  body
    div#landing-bg.bg-wrapper
    #main-container
      #paralax-sections
        #landing.paralax-section
          div#intro
            p #{intro}
            div.cf
          nav#menu-nav
            ul#menu
              li
                a(href="#about-me" data-menu-top="100p") #[i.fa.fw.fa-user-circle] #{about}
              li
                a(href="#work" data-menu-top="250p") #[i.fa.fw.fa-briefcase] #{work}
              li
                a(href="#contact" data-menu-top="550p") #[i.fa.fw.fa-envelope] #{contact}
          i#scroll-down.fa.fw.fa-angle-double-down.animated.bounce.infinite(aria-hidden="true")
        #whoami.paralax-section
          div.contentwrapper
            div#whoamicontent
              h2 #{whoamititle}
              p !{whoamidesc}
            div#mypicture
              img(src='imgs/me.png' title='That\'s me \:3')
        #objectives.paralax-section
          div.contentwrapper
            h2 #{objectivestitle}
            ul !{objectivesdesc}
            h2 #{otherinfotitle}
            ul !{otherinfodesc}
            div#bullseye.animated.swing
              img(src='imgs/bulls-eye.svg' title='Bull\'s eye')
        #skills.paralax-section
          div.contentwrapper
            h2 !{skillstitle}
            div#skillsdesc !{skillsdesc}
        #education.paralax-section
          div.contentwrapper
            h2 #{educationtitle}
            div.facontainer#educationimg
              span.fa.fa-university(aria-hidden="true")
            div#educationcontent !{educationdesc}
        #cumplimentaryeducation.paralax-section
          div.contentwrapper
            h2 !{cumplimentaryeducationtitle}
            div !{cumplimentaryeducationdesc}
        #languages.paralax-section
        #contact.paralax-section
    #helper
      .marker.red
      .marker.cyan
      .marker.orange
      .marker.blue
      .marker.green
      .marker.pink
      .marker.yellow
      .marker.black
    script(src='/js/skrollr-stylesheets.js')
    script(src='/js/skrollr.js')
    script(src='/js/skrollr-ie.js')
    script(src='/js/skrollr-menu.js')
    script(src='/js/load-skrollr.min.js')
