doctype html
html
  head
    title!= title

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/font-awesome.css', rel='stylesheet')
    script(href='/js/third-parties/modernizr.js')
  body
    div#landing-bg.bg-wrapper(data-top="transform:translate(0%, 100%); opacity: 1; visibility: visible;" data--100p-top="transform:translate(0%, -100%); opacity: 0" data-anchor-target="#landing.paralax-section")
    #main-container
      #paralax-sections(data-0="transform:translate(0%,0%);" data-100p="transform:translate(0%,-50%);" data-150p="" data-250p="transform:translate(0%,-100%);" data-300p="" data-400p="transform:translate(-50%,-100%);" data-450p="" data-550p="transform:translate(0%,-150%);")
        #landing.paralax-section
          div#intro(data-top="transform:translate(0%, 0%); opacity: 1;" data-50p-start="transform:translate(0%, 5%); opacity: 0" data-anchor-target="#landing.paralax-section")
            p #{intro}
            div.cf
          nav#menu-nav
            ul#menu
              li
                a(href="#about-me" data-menu-top="100p") #[i.fa.fw.fa-user-circle] #{about}
              li
                a(href="#work" data-menu-top="250p") #[i.fa.fw.fa-briefcase] #{work}
              li
                a(href="#contact" data-menu-top="550p") #[i.fa.fw.fa-envelope] #{contact}
          i#scroll-down.fa.fw.fa-angle-double-down.animated.bounce.infinite(aria-hidden="true")
        #about-me.paralax-section
          h1 #{about}
          h2  #{whoamititle}
          p #{whoamidesc}
          h2  #{objetivestitle}
          p #{objetivesdesc}
        #formation.paralax-section
        #work.paralax-section
        #contact.paralax-section
    #helper
      .marker.red
      .marker.red
      .marker.blue
      .marker.green
      .marker.yellow
    script(src='/js/skrollr.js')
    script(src='/js/skrollr-ie.js')
    script(src='/js/skrollr-menu.js')
    script(src='/js/skrollr-stylesheets.js')
    script(src='/js/load-skrollr.min.js')
