doctype html
html
  head
    title!= title

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/css/owl-carousel.css', rel='stylesheet')
    link(href='/css/owl-carousel-theme.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/font-awesome.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/skrollr.styles.css', rel='stylesheet')
    link(href='/css/skrollr.animations.css', rel='stylesheet' data-skrollr-stylesheet)
    link(href='/css/normalize.css', rel='stylesheet')

    link(rel='shortcut icon', href='/favicon.png', type='image/x-icon')
  body
    span#scroll-top #[i.fa.fa-angle-double-up]
    div#landing-bg.bg-wrapper
    #main-container
      #paralax-sections
        #landing.paralax-section
          div#lang-menu
            a(href="/es/slideshow") #{mothertongues}
            span |
            a(href="/en/slideshow") #{english}
          nav#menu-nav
            p#intro #{intro}
            ul#menu
              li
                a(href="#whoami" data-menu-top="100p") #[i.fa.fw.fa-user-circle] #{about}
              li
                a(href="#workexperience" data-menu-top="1450p") #[i.fa.fw.fa-briefcase] #{work}
              li
                a(href="#wantmore" data-menu-top="3150p") #[i.fa.fw.fa-download] #{download.title}
              li
                a(href="#contact" data-menu-top="3300p") #[i.fa.fw.fa-envelope] #{contact.title}
            div#slideshow !{slideshow}
          i#scroll-down.fa.fw.fa-angle-double-down.animated.bounce.infinite(aria-hidden="true")
        #whoami.paralax-section
          div.contentwrapper
            h2 #{whoami.title}
            p !{whoami.texts[0]}
            div#mypicture.imgresp
              img(src='/imgs/me.png' title='That\'s me \:3')
        #objectives.paralax-section
          div.contentwrapper
            h2 #{objectives.title}
            ul
              for objective in objectives.objectives
                li !{objective}
            div#bullseye.imgresp.animated.swing
              img(src='/imgs/bulls-eye.svg' title='Bull\'s eye')
        #skills.paralax-section
          div.contentwrapper
            h2#skillstitle #[i#srocket.fa.fw.fa-rocket(aria-hidden="true")] !{skills.title}
            div#skillsdesc
                p !{skills.texts[0]}
                ul
                  for skill in skills.skills
                    li.bold #{skill}
        #mskills.paralax-section
          div.contentwrapper
              div#moreskillsdesc
                p !{skills.texts[1]}
              div#msrocketcontainer #[i#msrocket.fa.fw.fa-rocket(aria-hidden="true")]
        #education.paralax-section
            div.contentwrapper
              h2#educationtitle #{education.title}
              div.facontainer#educationimg.animated
                span.fa.fa-university(aria-hidden="true")
              mixin fill_eduaction(name, institution, begin, end)
                li
                  span.coursename.bold !{name}
                  ul.institutionlist
                    li.courseinstitution
                      span.italic  !{institution}
                      span.courseduration [#{begin} - #{end}]
              div#educationcontent
                ul
                  each course, i in education.course_name
                    +fill_eduaction(course,education.course_institution[i],education.course_begin[i],education.course_end[i])
        #complementaryeducation.paralax-section
          div.contentwrapper
            div#complementaryeducationcontent
              h2 #{complementaryeducation.title}
              p !{complementaryeducation.texts[0]}
              mixin fill_complementary_education(name, institution, hours, year)
                li
                  span.coursename.bold !{name}
                  ul.institutionlist
                    li
                      span.courseinstitution.italic  #{institution}
                      span.courseduration    [#{hours} hours] [#{year}]
              ul
                - for (var i = 0; i < 4; ++i) {
                    +fill_complementary_education(complementaryeducation.course_name[i],complementaryeducation.course_institution[i],complementaryeducation.course_hours[i],complementaryeducation.course_year[i])
                - }
        #morecomplementaryeducation.paralax-section
          div.contentwrapper
            div#morecomplementaryeducationcontent
              p !{complementaryeducation.texts[1]}
              ul
                - for (var i = 4; i < complementaryeducation.course_name.length; ++i) {
                    +fill_complementary_education(complementaryeducation.course_name[i],complementaryeducation.course_institution[i],complementaryeducation.course_hours[i],complementaryeducation.course_year[i])
                - }
        #languages.paralax-section
          div.contentwrapper
            h2 #[i.fa.fw.fa-comments(aria-hidden="true")] #{langtitle}
            div#langimg.imgresp.animated
              img(src='/imgs/langs.svg' title='My main languages')
            div#languageskills.langboxcontainer
              div.halflangbox
                div.langtitle #{mothertonguetitle}
                div.langvalue #{mothertongues}
              div.halflangbox
                div.langtitle #{otherlangtitle}
                div.langvalue #{otherlangs}
              div.middleborder
        #morelanguages.paralax-section
          div.contentwrapper
            h2 #[i.fa.fw.fa-language(aria-hidden="true")] #{english}
            h3 #{selfassessment} #[i.fa.fw.fa-check(aria-hidden="true")]
            h4 #{understanding}
            div#understandingskills.langboxcontainer
              div.halflangbox
                div.langtitle #[i.fa.fw.fa-headphones(aria-hidden="true")] #{listening}
                div.langvalue #{b2}
              div.halflangbox
                div.langtitle #[i.fa.fw.fa-book(aria-hidden="true")] #{reading}:
                div.langvalue #{b2}
              div.middleborder
            h4 #{speaking}
            div#speakingskills.langboxcontainer
              div.halflangbox
                div.langtitle #[i.fa.fw.fa-comments(aria-hidden="true")] #{spokenint}:
                div.langvalue #{b2}
              div.halflangbox
                div.langtitle #[i.fa.fw.fa-commenting(aria-hidden="true")] #{spokenprod}:
                div.langvalue #{b2}
              div.middleborder
            h4 #{writing}
            div#writingskills.langboxcontainer
              div.fulllangbox
                div.langtitle  #[i.fa.fw.fa-pencil(aria-hidden="true")] #{writing}:
                div.langvalue #{b2}
        #workexperience.paralax-section
          div.contentwrapper
            h2 #{workexperience.title}
            p !{workexperience.texts[0]} 
            p.experienceparagraph !{workexperience.texts[1]}
        #myworks.paralax-section
          div.contentwrapper
            div.myworkscontainer
              p #{myworks}.
        #logodesign.paralax-section
          div.contentwrapper
            h2 #[i.fa.fw.fa-pencil-square-o(aria-hidden="true")] #{logodesign.title}
            p !{logodesign.texts[0]}
            div.owl-carousel
              div
                img(src='/imgs/my_logo.png' title='My signature')
              div
                img(src='/imgs/hg.png' title='Hood Geniuses')
              div
                img(src='/imgs/copite.png' title='Copite')
              div
                img(src='/imgs/scb1.png' title='Scbonkers')
              div
                img(src='/imgs/bogui.png' title='Bogui JS')
              div
                img(src='/imgs/scss.png' title='Simple CSS')
              div
                img(src='/imgs/scb2.png' title='Scbonkers alternative')
              div
                img(src='/imgs/pdr.png' title='Predictive Recursive Descent Parser')
              div
                img(src='/imgs/tsc.png' title='TSC')
        #bogui.paralax-section
          div.contentwrapper
            h2  #{bogui.title}
            p !{bogui.texts[0]}
            div.imgresp
              img(src='/imgs/bogui_example.png' title='BoguiJS Image Editor')
        #scss.paralax-section
          div.contentwrapper
            h2 #{scss.title}
            p !{scss.texts[0]}
            div#scsslogo.imgresp
              img(src='/imgs/scss.png' title='Simple CSS DSL')
        #ttt.paralax-section
          div.contentwrapper
            h2 #{ttt.title}
            p  !{ttt.texts[0]}
            div.imgresp
              img(src='/imgs/ttt.png' title='Tenerife Trending Topic web-store')
        #recblock.paralax-section
          div.contentwrapper
            h2 #{recblock.title}
            p !{recblock.texts[0]}
        #ateca.paralax-section
          div.contentwrapper
            h2 #{ateca.title}
            p !{ateca.texts[0]}
            ul
              each work in ateca.works
                li !{work}              
            div.imgresp
              img(src='/imgs/ateca.png' title='ATECA')
        #chicharro.paralax-section
          div.contentwrapper
            h2 #{chicharro.title}
            p !{chicharro.texts[0]}
        #belloneo.paralax-section
          div.contentwrapper
            h2 #{belloneo.title}
            p !{belloneo.texts[0]}         
            div.imgresp
              img(src='/imgs/bello-neo.png' title='Bello Neo')
        #microgreen.paralax-section
          div.contentwrapper
            h2 #{microgreen.title}
            p !{microgreen.texts[0]}         
            div.imgresp
              img(src='/imgs/microgreen.png' title='Microgreen')                       
        #wantmore.paralax-section
          div.contentwrapper
            h2 #[i.fa.fw.fa-download(aria-hidden="true")] #{download.title}
            ul
              each link in download.links
                li !{link}    
            h2 #{wantmore.title}
            p !{wantmore.texts[0]}
            ul
              each link in wantmore.links
                li !{link}              
        #contact.paralax-section
          div.contentwrapper
              div.contactmail
                a.email(href="mailto:contact@borisballester.com" title="My e-mail") contact@borisballester.com
                div.socialnetworks
                  a(href="https://www.linkedin.com/in/boris-ballester-hern%C3%A1ndez-0b8973137" title="My LinkedIn") #[i.fa.fw.fa-linkedin-square(aria-hidden="true")]
                  a.facebook(href="https://www.facebook.com/borisbalher" title="My Facebook") #[i.fa.fw.fa-facebook-square(aria-hidden="true")]
    div#helper
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker
      .marker      
      .marker
      .marker
    script(src='/js/jquery.js')
    script(src='/js/owl-carousel.js')
    script(src='/js/jquery.mousewheel.js')
    script(src='/js/load-owl-carousel.js')
    script(src='/js/skrollr-stylesheets.js')
    script(src='/js/skrollr.js')
    script(src='/js/skrollr-ie.js')
    script(src='/js/skrollr-menu.js')
    script(src='/js/load-skrollr.js')
    script(src='/js/load-scroll-top.js')
